.tabbar-icon {
  transition: all 0.3s;
}

.tabbar-icon.active {
  opacity: 1;
  transform: scale(0.95);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
}

.tabbar-icon.active img {
  display: block !important;
}