.edit-container {
    padding: 20px;
  }
  
.avatar-upload {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.avatar {
  width: 100px;
  height: 100px;  /* 确保宽高相同 */
  border-radius: 50%;
  margin-bottom: 10px;
  background-color: #eaeaea;
  border: 4rpx solid #fff;
  box-shadow: 0 0 10rpx rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
  object-fit: cover;  /* 保持比例填充并裁剪 */
  object-position: center;  /* 确保裁剪中间部分 */
}

.avatar::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  border: 2rpx solid rgba(255, 255, 255, 0.3);  /* 内层半透明白色边框 */
  pointer-events: none;
}

.input-field {
  width: 100%;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0 10px;
  margin-bottom: 15px;
}

.save-btn, .upload-btn {
  width: 100%;
  height: 80rpx;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  display: flex;  /* 确保是flex布局 */
  align-items: center;  /* 垂直居中 */
  justify-content: center;  /* 水平居中 */
}